<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iambeta">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".camera.Camera" />
        <activity android:name=".profilePage.FAQPage" />
        <activity android:name=".profilePage.ProfilePage" />
        <activity android:name=".mainPage.MainActivity" />
        <activity android:name=".authentication.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainPage.popUp.PopOne"
            android:theme="@style/AppTheme.TransparentBG" />
        <activity
            android:name=".mainPage.popUp.PopTwo"
            android:theme="@style/AppTheme.TransparentBG" />
    </application>

</manifest>